<div *ngIf="hero">

    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div *ngIf="item"><app-item-detail [item]="item" [inHeroView]="true" (sellItem)="sellItem($event)"></app-item-detail></div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
    </div>
  
    <button routerLink="/shop/{{hero.id}}">buy item</button>
    <button (click)="goBack()">go back</button>

  </div>
